body {
  background: #929292;
  font-family: "Helvetica Neue";
  margin: auto;
  width: 1280px;
  font-size: .75em;
}

h1, h2, p, ul { 
  /*color: #e96a48;*/
  color: #ffdd00;
  margin: 0;
  text-transform: capitalize;
}

h1 { 
  font-size: 3em;
  line-height: 115%;
  font-weight: bolder;
  margin-bottom: 20px;
}

h2 { 
  font-size: 1.5em;
  color: #fff;
}

h3 {
  font-size: 3em;
  color: #fff;
  font-style: italic;
  margin: 0;
}

a {
  color: #8bbf36;
}

a:not(:hover) {
  text-decoration: none;
}

ul { font-size: 40px; }

.stack {
  font-family: 'Roboto', sans-serif;
  background: #2b2b2b;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  display: none;
  font-size: 48px;
  height: 800px;
  padding: 40px 80px;
  width: 1280px;
  -webkit-transform: translate3d(0,0,0);
}

.stack::after {
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#me h2 {
  text-transform: none;
}

#me::after {
  background: url(./images/me.jpg) no-repeat 0 0;
}

#pandr::after {
  background: url(./images/pandr.jpg) no-repeat 0 0;
  opacity: 1;
}

#tfof::after {
  background: url(./images/405.jpg) no-repeat 0 0;
  opacity: 1;
}

#upstate h1 {
  text-transform: none;
}

#upstate::after {
  background: url(./images/upstate3.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 0.6;
}

#pingle::after {
  background: url(./images/pingle.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#akin::after {
  background: url(./images/akin-normal.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#build::after {
  background: url(./images/building-stuff.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 0.5;
}

#sys_admin h1 {
  font-size: 3.4em;
}

#sys_admin::after {
  background: url(./images/sys_admin.gif) no-repeat 0 0;
  background-size: cover;
}

#cash h1 {
  font-size: 4em;
  line-height: 115%;
}

#cash::after {
  background: url(./images/cash-2.gif) no-repeat 0 0;
  background-size: cover;
  opacity: 0.8;
}

#bakeoff::after {
  background: url(./images/bakeoff.jpg) no-repeat 0 0;
  background-size: cover;
}

#sochi::after {
  background: url(./images/rainbowflag.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

.curling {
  text-align: center;
}

.curling h1, .curling h2 {
  font-size: 3.3em;
}

.x-small h1 {
  font-size: 2em;
}

.smaller h1 {
  font-size: 3.2em;
}

.smaller h2 {
  font-size: 2em;
}

.large h1 {
  font-size: 4em;
}

.x-large h1 {
  font-size: 5em;
}

.curling.special {
  text-align: left;
}

.italic {
  font-style: italic;
}

#idea::after {
  background: url(./images/cat-1.gif) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#prototype::after {
  background: url(./images/cat-2.gif) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#iknow::after {
  background: url(./images/iknow.jpg) repeat 40px 0;
  opacity: 1;
}

#circles::after {
  background: url(./images/catcircles.jpg) repeat 40px -40px;
  opacity: 1;
}

#cat-urling::after {
  background: url(./images/cat-3.gif) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#kiss::after {
  background: url(./images/kiss.jpg) no-repeat 0 0;
  background-size: cover; 
}

#deploy::after {
  background: url(./images/rails.gif) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#clouds::after {
  background: url(./images/clouds.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#rakkit::after {
  background: url(./images/rakkit-screenshot.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#mtt::after {
  background: url(./images/mtt-screenshot1.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#mtt2::after {
  background: url(./images/mtt-screenshot2.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#taggart::after {
  background: url(./images/taggart-screenshot.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#pingle-marketing::after {
  background: url(./images/pingle-marketing.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#pop img {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}

#akin-screenshot::after {
  background: url(./images/akin-screenshot.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#akin-screenshot2::after {
  background: url(./images/akin-screenshot2.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#addons::after {
  background: url(./images/addons.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 0.5;
}

#analytics::after {
  background: url(./images/analytics.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#intercom::after {
  background: url(./images/intercom.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#intercom2::after {
  background: url(./images/intercom2.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#newrelic::after {
  background: url(./images/new-relic.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#scale::after {
  background: url(./images/scale.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

.active {
  box-shadow: 0px 4px 8px rgba(0,0,0,.5);
  display: block;
  position: fixed;
}

.grey {
  color: #969696;
}

@media
screen and (max-device-width: 1024px) {
  body {
    width: 1200px;
  }

  .stack {
    margin: 40px 0;
  }

  .stack {
    display: block;
  }
}
